*{
    margin:0;
    padding:0;
}

body{
    background: black;
}

p{
    align-items: center;
    justify-content: center;
    justify-content: justify;
    margin: 250px auto;
    width: 500px;
    padding: 15px;
    background-color: rgba(168, 40, 253, 0.568) ;
    color:white;
}